body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  
  header {
    background-color: #444;
    color: #fefefe;
    padding: 15px;
    text-align: center;
  }
  
  footer {
    background-color: #e8e8e8;
    text-align: center;
    padding: 12px;
  }
  